* {
  text-align: center;
}
h1 {
  background-color: darkblue;
  text-align: center;
  padding: auto;
  display: inline;
  border-radius: 10%;
}

.choice {
  height: 100px;
  width: 100px;
  display: unset;
  justify-content: center;
  gap: 1cm;
}
img {
  height: 90px;
  width: 90px;
  object-fit: cover;
  border-radius: 50%;
  border: black dotted;
  border-color: black;
}
.score {
  display: unset;
  justify-content: center;
  gap: 3rem;
}
.msg {
  font-size: 40px;
}
